node_modules/
sessions/
data/
*.db
public/uploads/cloud/
public/uploads/*.jpg
public/uploads/*.gif
public/uploads/*.png
*.h5
*.pkl
*.csv
*.rar
CMABSTdata/
raw_grib/
captcha2.svg
cookies2.txt
reg_cookie.txt
reg_result.html
verify_addtocart.html
last_sync_time.json
training_monitor_log.txt
__pycache__/
*.pyc
*.nc